/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 255, 0.6);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 255, 0.7);
}

/* General body styling */
body {
    background: url("space-7273891_1280.jpg") no-repeat center center fixed; 
    background-size: cover;
    background-color: #000;
    color: #00FFFF;
    font-family: 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0 auto;
    width: 70%;
}

/* Header styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #00FFFF;
    font-size: 28px;
    margin: 30px 0;
}

.header nav {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 30px;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header nav ul li {
    margin-right: 15px;
}

.header nav a {
    color: #00FFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.header nav a:hover {
    background-color: rgba(0, 0, 255, 0.5);
    color: #fff;
}

/* Main content and sidebar layout */
.mainContent {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 65%;
}

.content-1, .content-2 {
    background-color: rgba(0, 0, 0, 0.8);
    color: #00FFFF;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar-1, .sidebar-2, .sidebar-3 {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #00FFFF;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Footer styles */
.footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #00FFFF;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

/* Media queries for smaller screens */
@media (max-width: 700px) {
    .mainContent {
        flex-direction: column;
    }

    .content, .sidebar-1, .sidebar-2, .sidebar-3 {
        width: 100%;
    }

    .header nav ul {
        flex-direction: column;
    }

    .header nav ul li {
        margin-bottom: 10px;
    }
}
